In [24]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

URL = "https://chartejournalismeecologie.fr/les-signataires/"
page = requests.get(URL)

soup = BeautifulSoup(page.content, "html.parser")
html_table = soup.table
df_signing_journalists = pd.read_html(str(html_table), header=0)[0]

In [25]:
df_signing_journalists

,Nom,Prénom,Fonction,Média ou organisation
0,Aballain,Olivier,Directeur des formations au journalisme,ESJ Lille
1,Abalo,André,JRI,France Télévision
2,Abbiateci,Jean,Journaliste,NaN
3,ABOUDOU,Djamiou,Journaliste,L’Emissaire
4,Acar,Anne-Lucie,Journaliste,Free-lance
...,...,...,...,...
1543,zbinden,wendy,Journaliste,Pigiste
1544,ZEIMET,Stéphanie,Journaliste-éditrice digitale,L’Echo Républicain-Centre France
1545,Zine,Ghita,Journaliste,NaN
1546,Zucchet,Romy,Directrice de publication,Brillante Magazine
1547,ZURMELY,David,journaliste,ARTE

In [26]:
df_signing_journalists[df_signing_journalists.Nom.isna()]

      Nom Prénom Fonction Média ou organisation
1518  NaN    NaN      NaN                   NaN

In [27]:
# Removing empty rows
df_signing_journalists.dropna(axis=0, how='all', inplace=True)
df_signing_journalists.reset_index(drop=True, inplace=True)

In [28]:
df_signing_journalists

,Nom,Prénom,Fonction,Média ou organisation
0,Aballain,Olivier,Directeur des formations au journalisme,ESJ Lille
1,Abalo,André,JRI,France Télévision
2,Abbiateci,Jean,Journaliste,NaN
3,ABOUDOU,Djamiou,Journaliste,L’Emissaire
4,Acar,Anne-Lucie,Journaliste,Free-lance
...,...,...,...,...
1542,zbinden,wendy,Journaliste,Pigiste
1543,ZEIMET,Stéphanie,Journaliste-éditrice digitale,L’Echo Républicain-Centre France
1544,Zine,Ghita,Journaliste,NaN
1545,Zucchet,Romy,Directrice de publication,Brillante Magazine
1546,ZURMELY,David,journaliste,ARTE

In [29]:
df_signing_journalists.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1547 entries, 0 to 1546
Data columns (total 4 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Nom                    1547 non-null   object
 1   Prénom                 1538 non-null   object
 2   Fonction               1540 non-null   object
 3   Média ou organisation  1484 non-null   object
dtypes: object(4)
memory usage: 48.5+ KB

In [57]:
def capitalize(name):
    '''Capitalize a first name or a last name. Even the hyphenated first names.
    
    Examples: 
     - elsa -> Elsa
     - jean-pierre or Jean-pierre -> Jean-Pierre
    '''
    if name:
        if name.find("-") != -1:
            list_names = name.split("-")
            list_capitalized_names = [name.capitalize() for name in list_names]
            return "-".join(list_capitalized_names)
        else:
            list_names = name.split()
            list_capitalized_names = [name.capitalize() for name in list_names]
            return " ".join(list_capitalized_names)

In [58]:
# Capitalize first name and last name
df_signing_journalists["Nom"] = df_signing_journalists["Nom"].apply(capitalize)
df_signing_journalists["Prénom"] = df_signing_journalists["Prénom"].apply(capitalize)

In [59]:
df_signing_journalists

,Nom,Prénom,Fonction,Média ou organisation
0,Aballain,Olivier,Directeur des formations au journalisme,ESJ Lille
1,Abalo,André,JRI,France Télévision
2,Abbiateci,Jean,Journaliste,NaN
3,Aboudou,Djamiou,Journaliste,L’Emissaire
4,Acar,Anne-Lucie,Journaliste,Free-lance
...,...,...,...,...
1542,Zbinden,Wendy,Journaliste,Pigiste
1543,Zeimet,Stéphanie,Journaliste-éditrice digitale,L’Echo Républicain-Centre France
1544,Zine,Ghita,Journaliste,NaN
1545,Zucchet,Romy,Directrice de publication,Brillante Magazine
1546,Zurmely,David,journaliste,ARTE

In [62]:
df_signing_journalists[df_signing_journalists["Prénom"] == "Pierre-Hippolyte"]

         Nom            Prénom     Fonction Média ou organisation
1387  Senlis  Pierre-Hippolyte  Réalisateur           Indépendant

In [61]:
df_signing_journalists[df_signing_journalists["Prénom"] == "France Bleu"]

                      Nom       Prénom  Fonction Média ou organisation
1203  Planète Bleu Le Mag  France Bleu  Emission           FRANCE BLEU

In [64]:
# Exporting signing journalists
df_signing_journalists.to_csv("../data/charter_signing_journalists.csv", index=False)